.main-container {
  display: grid;
  grid-template-columns: 20% 100%;
}
.navbar {
  display: block;
  width: 100%;
  padding: 7px;
  background: #415a77;
  text-align: center;
  color: #e0e1dd;
}
.panel-container {
  width: 20%;
  height: 91%;
  background: #1b263b;
  color: #e0e1dd;
  text-align: center;
  position: absolute;
  bottom: 0;
  border: 1px solid #e0e1dd;
  border-radius: 8px;
}
.map-container {
  position: absolute;
  width: 100%;
  height: 91%;
  left: 20%;
  bottom: 0;
  border: 1px solid #e0e1dd;
}
.button {
  font-size: 18px;
}
.show-places, .hide-places {
  width: 48%;
  padding: 10px;
  font-size: 20px;
  background: #e0e1dd;
  color: #1b263b;
  border-radius: 5px
}
.show-places:hover {
  padding: 5px;
}
.hide-places:hover {
  padding: 5px;
}
/* Media Queries
@media screen and (min-width: 1000px) {
  .main-container {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .map-container {
    left: 20%;
  }
}*/
