.navbar {
  position: fixed;
  height: 11%;
  z-index: 1;
  right: 0;
  left: 0;
  background: #415a77;
  text-align: center;
  color: #e0e1dd;
}
.map-container {
  position: absolute;
  right: 0;
  left: 0;
  height: 90%;
  width: 100%;
  bottom: 0;
}
.marker-name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.info {
  text-align: center;
  font-size: 17px;
}
.source {
  text-align: center;
  font-size: 15px;
}
.photo-button {
  position: relative;
  left: 30%;
  margin: 5px;
}
h1 {
  font-size: 19px;
  text-align: center;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*Styling for drop-down menu*/
.hamburger {
  position: absolute;
  font-size: 45%;
  top: 16%;
  left: 5%;
  cursor: pointer;
  background-color: #415a77;
  border: none;
}
.close-button {
  position: absolute;
  right: 1%;
  top:0;
  cursor: pointer;
  background-color: #1b263b;
  color: #e0e1dd;
  border: none;
  font-size: 8px;
}
.info-list  {
  position: absolute;
  width: 60%;
  margin-top: 50px;
  z-index: 1;
  padding: 5px 20px 5px 20px;
  background-color: #1b263b;
  overflow-y: auto;
}
.button {
  font-size: 14px;
  text-decoration: none;
  background: #1b263b;
  color: #e0e1dd;
  padding: 3px;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background: #e0e1dd;
  color: #1b263b;
}
.button:active {
  background: #e0e1dd;
  color: #1b263b;
}
.my-label {
  font-size: 15px;
  color: #e0e1dd;
}
#location-select {
  width: 100%;
}

/*End of styling for drop-down menu*/

/* Media Queries*/
@media screen and (min-width: 700px) {
  .navbar {
    height: 10%;
  }
  h1 {
    font-size: 40px;
  }
  .fa-bars {
    margin-top: 18px;
    font-size: 60px;
  }
  .info-list  {
    position: absolute;
    width: 50%;
    margin-top: 50px;
    z-index: 1;
    padding: 25px 20px 25px 20px;
    background-color: #1b263b;
    overflow-y: auto;
  }
  .button {
    font-size: 20px;
    text-decoration: none;
    background: #1b263b;
    color: #e0e1dd;
    padding: 12px;
    cursor: pointer;
    width: 100%;
  }
  .my-label {
    font-size: 20px;
  }
  #location-select {
    width: 100%;
    padding: 5px;
  }
  .fa-times {
    font-size: 30px;
  }
  .marker-name {
    font-size: 20px;
  }
  .info {
    font-size: 18px;
  }
  .source {
    font-size: 17px;
  }
  .photo-button {
    margin: 8px;
  }
}
